.page-header {
    margin: 0 68px 24px;
}

.page-header--title {
    text-align: center;
    font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
    .page-header {
        margin: 0 68px 24px;
    }
}

@media screen and (min-width: 992px) {
    .page-header {
        margin: 0 72px 24px;
    }
}

@media screen and (min-width: 1280px) {
    .page-header {
        margin: 0 108px 24px;
    }
}


@media screen and (min-width: 1440px) {
    .page-header {
        max-width: 1280px;
        margin: 0 auto 24px;
    }
}