.weekly-offers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1184px;
}

.weekly-offers-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.products-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}